@using MVC5Library.Models
@model List<TBLMessage>
<!-- Post -->
<table id="example1" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Mesaj Etiket
            </th>
            <th>
                Mesaj Gönderen E-Posta
            </th>
            <th>
                Mesaj Konu - İçerik
            </th>
            <th>
                Mesaj Tarih
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(++i)
                </td>
                <td class="mailbox-star">
                    @if (item.MessageLabel == "Important")
                    {
                        <i class="fas fa-circle text-danger"></i>
                    }
                    else if (item.MessageLabel == "Promotions")
                    {
                        <i class="fas fa-circle text-warning"></i>
                    }
                    else if (item.MessageLabel == "Social")
                    {
                        <i class="fas fa-circle text-primary"></i>
                    }
                    else
                    {
                        <i class="fas fa-circle text-dark"></i>
                    }
                </td>
                <td class="mailbox-name"><a href="/Message/MessageDetail/@item.MessageID">@item.MessageSender</a></td>
                <td class="mailbox-subject">
                    <b>@item.MessageSubject</b> -
                    @{string metin = System.Text.RegularExpressions.Regex.Replace(item.MessageContents, @"<(.|\n)*?>", string.Empty); }
                    @Html.Raw(metin.Substring(0, metin.Length > 30 ? 30 : metin.Length))...
                </td>
                <td class="mailbox-date">@Convert.ToDateTime(item.MessageDate).ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                #
            </th>
            <th>
                Mesaj Etiket
            </th>
            <th>
                Mesaj Gönderen E-Posta
            </th>
            <th>
                Mesaj Konu - İçerik
            </th>
            <th>
                Mesaj Tarih
            </th>
        </tr>
    </tfoot>
</table>
<!-- /.post -->